// Required
@import "bootstrap/scss/functions";
//Import bootstrap overrides variables - theme variables
@import "./custom/variables/variables-theme-shop";
@import "./custom/variables/variables-dark-theme-shop";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "./custom/utilities/utilities";

//Import bootstrap scss
@import "bootstrap/scss/bootstrap.scss";

//Custom css variables for Assan Theme
@import "./custom/utilities/root";

//Theme core style import
@import "./custom/mixins/transition";
@import "./custom/utilities/typography";
@import "./custom/utilities/animations";
@import "./custom/components/buttons";
@import "./custom/components/breadcrumb";

@import "./custom/components/scroll-elements";
@import "./custom/components/caret";
@import "./custom/utilities/dark-mode";
@import "./custom/components/collapse";
@import "./custom/components/carousel";
@import "./custom/components/dropdown";
@import "./custom/components/navbar";
@import "./custom/components/navs";
@import "./custom/components/choices-select";
@import "./custom/components/backgrounds";
@import "./custom/components/forms";
@import "./custom/components/jarallax";
@import "./custom/components/modal";
@import "./custom/components/spinner";
@import "./custom/components/avatar";
@import "./custom/components/offcanvas";
@import "./custom/components/hovers";
@import "./custom/components/badges";
@import "./custom/components/tables";
@import "./custom/components/tabs";
@import "./custom/components/links";
@import "./custom/components/shop/shop-products";
@import "./custom/components/nouislider";

//material symbols
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0");
//bootstrap icons
@import "bootstrap-icons/font/bootstrap-icons.css";
//Custom font - Ubuntu Font
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.custom-nav-item:hover {
    background-color: #f9f9f9; /* Siva boja pozadine na hover-u */
}
.nav-item:hover a.nav-link {
    color: inherit; /* Naslijeđuje boju teksta iz roditeljskog elementa */
}

.fs-7 {
    font-size: 1rem !important;
}

img {
    z-index: 0;
}

html.magnifying > body {
    overflow-x: hidden !important;
}
.lens-mobile,
.magnify,
.magnify-mobile,
.magnify > .magnify-lens {
    min-width: 0;
    min-height: 0;
    animation: none;
    border: none;
    float: none;
    margin: 0;
    opacity: 1;
    outline: 0;
    overflow: visible;
    padding: 0;
    text-indent: 0;
    transform: none;
    transition: none;
}
.magnify {
    position: relative;
    width: auto;
    height: auto;
    box-shadow: none;
    display: inline-block;
    z-index: inherit;
}
.magnify > .magnify-lens {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85),
        0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    cursor: none;
    display: none;
    z-index: 99;
}
.magnify > .magnify-lens.loading {
    background: #333 !important;
    opacity: 0.8;
}
.magnify > .magnify-lens.loading:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #fff;
    content: "Loading...";
    font: italic normal 16px/1 Calibri, sans-serif;
    letter-spacing: 1px;
    margin-top: -8px;
    text-align: center;
    text-shadow: 0 0 2px rgba(51, 51, 51, 0.8);
    text-transform: none;
}
/*# sourceMappingURL=magnify.min.css.map */
